// color
$primary: #00b2ae;
$dark-primary: #01737f;
$white: #ffffff;
$dark: #5b5a5a;
$warning: #ff8a00;
$muted: #686868;
$background: $white;
$bg-soft: #f0f0f0;
$bg-form: #f4f4f4;

// font
$font-family: "Poppins", sans-serif;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
