// color
$primary: #00B2AE;
$white: #FFFFFF;
$dark: #5B5A5A;
$warning: #FF8A00;
$muted: #686868;
$background: $white;
$bg-soft: #E7F4F3;
$bg-form: #F4F4F4;
$title-dark: #7a7a7a;

// font
$font-family: 'Poppins',
sans-serif;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;