<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c7a1ce90 (migrate to next js 14)
// color
$primary: #00B2AE;
$white: #FFFFFF;
$dark: #5B5A5A;
$warning: #FF8A00;
$muted: #686868;
$background: $white;
$bg-soft: #E7F4F3;
$bg-form: #F4F4F4;
$title-dark: #7a7a7a;

// font
$font-family: 'Poppins',
sans-serif;
$bold: 700;
$semibold: 600;
$medium: 500;
<<<<<<< HEAD
$regular: 400;
=======
// color
$primary: #00b2ae;
$dark-primary: #01737f;
$white: #ffffff;
$dark: #5b5a5a;
$warning: #ff8a00;
$muted: #686868;
$background: $white;
$bg-soft: #f0f0f0;
$bg-form: #f4f4f4;

// font
$font-family: "Poppins", sans-serif;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
>>>>>>> f50c9cf511023b582f6bff622673ff36a4b87d41
=======
$regular: 400;
>>>>>>> c7a1ce90 (migrate to next js 14)
